@{
    ViewData["Title"] = "Home Page";
}

<html lang="en">
<head>
    <title>SIP  Login Sign-up</title>
    <link rel="stylesheet" href="./css/StyleSheet.css">
</head>
<body>

    <div id="container">

        <div class="fwrapper">
            <form class="form">
                <label style="color: blanchedalmond;">Email</label>
                <input type="text" name="Email_Mobile" id="Email_Mobile" class="EM" placeholder="Email Address or Phone Number">
                <div>
                    <label style="color: blanchedalmond;">Password</label>

                    <input type="password" name="Password" id="Password" class="PS" placeholder="Password">
                </div>
                <div>
                    <button type="submit" class="loginButton btn">Login</button>
                </div>
            </form>
            <a href="#" class="forgotPassword">Forgotten Password?</a>
            <button type="submit" class="rb">Create New Account</button>
        </div>
    </div>
</body>
</html>
